<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>千千音乐</title>
    <link rel="icon" href="https://music.taihe.com/favicon.ico">
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
    <div class="container">
        <img src="/public/image/logo.jpg" alt="">
    </div>
    <div class="content">
        <h3>欢迎来到千千音乐，请<a href="/login">&nbsp;登录&nbsp;</a>畅听天籁之音</h3>
    </div>
    <footer class="footer">
        @copyright 2021 - 2021
    </footer>
</body>
</html>