<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/login.css">
    <title>千千音乐</title>
    <link rel="icon" href="https://music.taihe.com/favicon.ico">
</head>

<body>
    <div class="loginContainer">
        <h1>登录</h1>
        <form action="/checkUser" method="post">用户名：
            <input class="inputStyle" type="text" name="username"><br>密&nbsp;&nbsp;&nbsp;码：
            <input class="inputStyle" type="password" name="pwd"><br>
            <input class="loginStyle" type="submit" value="登录"> |
            <input type="checkbox" name="memberMe">记住我
        </form>
    </div>
    <!-- <footer class="footer">
        @copyright 2021 - 2021
    </footer> -->
</body>

</html>